*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    quotes: none;
}

html,
body {
    background: #fff;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media screen and (min-width: 880px) {
    html {
        font-size: 14px;
    }
}

body {
    font-family: "Roboto Mono", monospace;
    background: #fff;
    color: #101010;
    position: relative;
    padding: 30px;
}

a {
    color: #292929;
    text-decoration: none;
}

a:hover {
    color: #292929;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

.site-wrapper {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 880px) {
    .site-wrapper {
        width: 700px;
    }
}

.site-content {
    padding-bottom: 50px;
}

.site-header {
    margin-bottom: 30px;
}

.site-header h1 {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}

.site-header h1 a:hover {
    text-decoration: underline;
}

.post-content h1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.format-page .post-header {
    margin-bottom: 30px;
}

.post-content h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 40px 0 10px 0;
    font-weight: 700;
}

.post-content p,
.post-content li {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px;
}
.post-content p:first-of-type {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    line-height: 1.6;
}

.site-seperator {
    box-sizing: border-box;
    margin-top: 30px;
}

.format-page .post-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
}

.post-content a {
    color: #0085bd;
    text-decoration: underline;
}

.post-content h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 40px 0 10px 0;
}

.post-content a:hover {
    background: #e6e5e6;
    color: #101010;
    text-decoration: none;
}

@media (prefers-color-scheme: light) {
    body {
      background: #FFF;
      color: #333;
    }
}

@media (prefers-color-scheme: dark) {
    body {
      background: #333;
      color: #FFF;
    }
    .site-header a {
        color: #FFF;
    }
    .site-title p {
        color: #FFF;
    }
    .post-title a {
        color: #FFF;
    }
}
