*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    quotes: none;
}
footer,
header,
hgroup,
menu,
nav,
section,
small {
    display: block;
}
html,
body {
    background: #fff;
}
.highlight {
    background: #202020;
    color: #f8f8f2;
}
.highlight .hll,
.highlight .s,
.highlight .sa,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
    color: #f1fa8c;
}
.highlight .go {
    color: #44475a;
}
.highlight .err,
.highlight .g,
.highlight .l,
.highlight .n,
.highlight .x,
.highlight .p,
.highlight .ge,
.highlight .gr,
.highlight .gh,
.highlight .gi,
.highlight .gp,
.highlight .gs,
.highlight .gu,
.highlight .gt,
.highlight .ld,
.highlight .no,
.highlight .nd,
.highlight .ni,
.highlight .ne,
.highlight .nn,
.highlight .nx,
.highlight .py,
.highlight .w,
.highlight .bp {
    color: #f8f8f2;
}
.highlight .gh,
.highlight .gi,
.highlight .gu {
    font-weight: bold;
}
.highlight .ge {
    text-decoration: underline;
}
.highlight .bp {
    font-style: italic;
}
.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
    color: #6272a4;
}
.highlight .kd,
.highlight .kt,
.highlight .nb,
.highlight .nl,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
    color: #8be9fd;
}
.highlight .kd,
.highlight .nb,
.highlight .nl,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
    font-style: italic;
}
.highlight .na,
.highlight .nc,
.highlight .nf,
.highlight .fm {
    color: #50fa7b;
}
.highlight .k,
.highlight .o,
.highlight .cp,
.highlight .kc,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .nt,
.highlight .ow {
    color: #ff79c6;
}
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
    color: #bd93f9;
}
.highlight .gd {
    color: #ff5555;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
@media screen and (min-width: 880px) {
    html {
        font-size: 14px;
    }
}
body {
    font-family: "Roboto Mono", monospace;
    background: #fff;
    color: #101010;
    position: relative;
}
hr {
    margin: 65px auto;
    height: 10px;
    width: 100%;
    background-color: #f0f0f0;
}
.signature {
    margin: 28px 0 -5px -12px !important;
}
.signature img {
    margin: 0 !important;
    width: 200px;
}
@media screen and (min-width: 880px) {
    .signature img {
        width: 250px;
    }
}
a {
    color: #292929;
    text-decoration: none;
}
a:hover {
    color: #292929;
    text-decoration: none;
}
a:focus,
a:active {
    outline: none;
}
body {
    padding: 30px;
}
.site-wrapper {
    width: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 880px) {
    .site-wrapper {
        width: 700px;
    }
}
.site-content {
    padding-bottom: 50px;
}
.site-header {
    margin-bottom: 30px;
}
.site-header h1 {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.site-header h1 a:hover {
    text-decoration: underline;
}
.site-header h2 {
    color: #909090;
    font-weight: 500;
}
.site-about p {
    font-size: 13px;
    line-height: 1.5;
}
.site-about a {
    color: #0085bd;
    text-decoration: underline;
}
.site-about a:hover {
    background: #e6e5e6;
    color: #101010;
    text-decoration: none;
}
.site-seperator {
    margin-top: 30px;
}
.post-single .post__meta {
    margin-top: 10px;
}
.post-index .post {
    margin-bottom: 15px;
}
.post-index .post a:hover {
    text-decoration: underline;
}
.post-index .format-post > a {
    font-weight: bold;
}
.post-index .draft {
    background-color: #e0e0e0;
}
.post-title-icon {
    color: #aaa;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
}
.post-title-icon:hover {
    color: #292929;
}
.format-link dl dd {
    margin-top: 15px;
}
.format-link dl dd p {
    font-size: 14px;
}
.post-comments,
.post-author {
    display: none;
}
.paging li:first-of-type {
    margin-bottom: 10px;
}
.paging li:last-of-type {
    margin-bottom: 10px;
}
.paging a {
    background-color: #eee;
    border-radius: 2px;
    color: #aaa;
    display: block;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.paging a:hover {
    background-color: #292929;
    color: #fff;
}
.paging .newer .ss-icon {
    position: relative;
    left: 5px;
    top: 2px;
}
.paging .older .ss-icon {
    position: relative;
    right: 5px;
    top: 2px;
}
.post__permalink {
    color: #000;
}
.format-post .post-header {
    margin-bottom: 50px;
}
.format-post .post-header__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 6px;
}
.format-post .post-header__title a {
    text-decoration: underline;
}
.format-post .post-header__title a:hover {
    background-color: #eee;
    text-decoration: none;
}
.format-post .post-meta {
    font-size: 14px;
}
.format-page .post-header {
    margin-bottom: 30px;
}
.format-page .post-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
}
.format-page .post-title a {
    text-decoration: none;
}
.format-page .post-title a:hover {
    text-decoration: underline;
}
.format-page .post-meta {
    font-size: 14px;
}
.format-link .post-header {
    margin-bottom: 20px;
}
.format-link .post-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 5px;
}
.format-link .post-title a:hover {
    text-decoration: underline;
}
.format-link .post-meta {
    font-size: 13px;
}
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}
.post-content h1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
.post-content h2 {
    font-size: 26px;
    margin: 100px 0 25px 0;
}
.post-content h2:first-of-type {
    margin-top: 60px;
}
.post-content h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 40px 0 10px 0;
}
.post-content strong {
    font-weight: 700;
}
.post-content p {
    margin-bottom: 30px;
}
.post-content p:first-of-type {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    line-height: 1.6;
}
.post-content p,
.post-content li {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.8;
}
.post-content .highlighter-rouge {
    margin-bottom: 45px;
}
.post-content p code,
.post-content li code {
    background-color: #f0f0f0;
    border-radius: 3px;
    border: 1px solid #c0c0c0;
    color: inherit;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    padding: 2px 4px;
}
.post-content pre {
    clear: both;
    font-size: 14px;
    line-height: 1.5;
    overflow: auto;
    padding: 15px 20px;
    word-break: normal;
    border-radius: 3px;
}
.post-content pre code {
    display: inline;
    line-height: inherit;
    max-width: initial;
    word-wrap: normal;
}
.post-content a {
    color: #0085bd;
    text-decoration: underline;
}
.post-content a:hover {
    background: #e6e5e6;
    color: #101010;
    text-decoration: none;
}
.post-content em {
    font-style: italic;
}
.post-content mark {
    background-color: #fffeca;
    padding: 0 2px;
}
.post-content strong {
    color: #000;
}
.post-content blockquote {
    border-left: 10px solid #598db2;
    margin: 20px 0;
    margin-left: -23px;
    padding-left: 20px;
    width: 100%;
}
.post-content ul,
.post-content ol {
    margin-bottom: 20px;
}
.post-content ul li {
    list-style: disc inside;
}
.post-content ol li {
    list-style: decimal inside;
}
.post-content img {
    margin-bottom: 15px;
    max-width: 100%;
}
.post-content img.wide {
    max-width: 100%;
}
@media screen and (min-width: 880px) {
    .post-content img.wide {
        margin-left: -20%;
        max-width: 140%;
    }
}
.post-content img.border {
    border: 1px solid #e6e5e6;
}
.post-content img.alignright {
    margin: 5px 0 15px 25px;
}
.post-content img.alignleft {
    margin: 5px 25px 15px 0;
}
.post-content img.aligncenter {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.post-content .grid-figure {
    margin: 50px 0;
}
@media screen and (min-width: 880px) {
    .post-content .grid-figure.caption-right {
        display: grid;
        grid-template-columns: 85% 15%;
        grid-column-gap: 2.5%;
        width: 130%;
        margin-top: 50px;
        margin-right: 0;
        margin-bottom: 50px;
        margin-left: -17.5%;
    }
}
@media screen and (min-width: 880px) {
    .post-content .grid-figure.caption-left {
        display: grid;
        grid-template-columns: 15% 85%;
        grid-column-gap: 2.5%;
        width: 130%;
        margin-top: 50px;
        margin-right: 0;
        margin-bottom: 50px;
        margin-left: -17.5%;
    }
    .post-content .grid-figure.caption-left p {
        text-align: right;
    }
}
.post-content .grid-figure.wide-image {
    width: 130%;
    margin-left: -17.5%;
}
.post-content .grid-figure.wide-image figcaption {
    text-align: center;
    margin-top: 20px;
}
@media screen and (min-width: 880px) {
    .post-content .grid-figure img {
        margin: 0;
    }
}
.post-content .grid-figure figcaption,
.post-content .grid-figure figcaption p {
    font-size: 12px;
    line-height: 1.5;
}
.post-content .grid-figure figcaption p {
    margin-bottom: 10px;
}
.post-content .grid-figure figcaption p:last-child {
    margin-bottom: 0;
}
.post-content .align-self-end {
    align-self: end;
}
.post-content iframe {
    margin-bottom: 20px;
    max-width: 100%;
}

@media (prefers-color-scheme: light) {
    body {
      background: #FFF;
      color: #333;
    }
  }
  @media (prefers-color-scheme: dark) {
    body {
      background: #333;
      color: #FFF;
    }
    .site-header a {
        color: #FFF;
    }
    .site-title p {
        color: #FFF;
    }
    .post-title a {
        color: #FFF;
    }
  }