<!DOCTYPE html>
<html>

<head>
    <title>Adam Merry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
</head>

<body>
    <div class="site-wrapper">

        <div class="site-content">

            <div class="post post-content">
                <h1>👋🏽 I’m Adam Merry.</h1>

                <p>- - -</p>

                <p>What am I doing now? See <a href="/now">my “now” page</a>.</p>

                <p>Here's who I am, what I love and what I do:</p>

                <p>👨🏽‍💻 I’ve been a software engineer since 2014 and an engineering manager since 2018. I cut my teeth on the Webteam and in the Exhibits division @ 
                    <a href="https://www.montereybayaquarium.com/">The Monterey Bay Aquarium</a> and <a href="https://www.seafoodwatch.org/">Seafood Watch</a>
                    building web apps, and immersive multimedia experiences to inspire ocean conservation.</p>
                
                <p>🏃🏽‍♂️ I am also a professional trail and ultra marathon runner. I love the sport, community, showing myself I can do really hard things and competing to be one of the best in the world.</p> 
                
                <p>I run for <a href="https://www.instagram.com/p/Ctod9ctOOWG/?img_index=1">Saucony</a>, am a board member of the <a href="https://trailrunners.run/about/">Pro Trail Runner's Association</a>, and have won a Golden Ticket and finished the Western States 100 miler.</p> 

                <p>👨🏽‍💼 In 2021 I founded my own running coaching business, <a href="https://runmerry.com/">Run Merry Coaching</a>, successfully built and scaled it over 2 years and then found out we were having our first child, Arthur. 👶🏼
                 I wanted more stability and still loved software engineering and after coaching 100s of athletes to achieve their goals and grow, my mentorship and coaching skills were razor sharp.</p>

                <p>👨🏽‍💻🫱🏽‍🫲🏻 So I landed a job working at Dimagi, a tech social enterprise company, at the end of 2022. I lead a team of ~10 mid/senior engineers in our SaaS division. We're also open source: 
                    <a href="https://github.com/dimagi">Dimagi on Github.</a> 🐙</p>

                <p>I've also started publishing some of my ideas about EMing and leadership in general on <a href="https://medium.com/@adammerry">medium.com/@adammerry</a>. Here's a few articles worth checking out:</p>

                <ul>
                    <li><a href="https://medium.com/engineering-inclusivity/trust-is-the-backbone-of-a-strong-team-f9912cf97d7b">Trust is the backbone of a strong team</a></li>
                    <li><a href="https://medium.com/p/77ac89aa6c3f/">How to be a Values-Driven Leader</a></li>
                </ul>

                <p>Peep the full publication <a href="https://medium.com/engineering-inclusivity">@medium.com/engineering-inclusivity</a>. 👀 
                </p>

                <p>---</p>

                <p>Where can you go from here?</p>

                <ul>
                    <li>Follow me on <a
                        href="https://www.linkedin.com/in/amerry/">LinkedIn</a>, <a
                            href="https://github.com/amerry19/">GitHub</a>, or 
                            <a href="https://www.instagram.com/amerryrunner/">Instagram</a></li>
                    <li>Watch a cool video <a href="https://www.youtube.com/watch?v=BmfMvGXmoLU">YouTube</a> of me running made w/ ❤️ by <a href="https://freetrail.com/">Freetrail</a> </li>
                </ul>

                <p>---</p>

                <p>Thanks!</p>

                <p>-Adam Merry</p>

                <p>p.s if you want to work together drop me a line @ <a href="mailto:adammerry@proton.me">adammerry@proton.me</a>. ✌🏽</p>
            </div>
        </div>
    </div>
</body>
</html>