{% extends "base.html" %}

{% block title %}
Adam Merry
{% endblock %}

{% block og_title %}
Adam Merry: Engineering Leader
{% endblock %}

{% block og_description %}
Adam Merry is an values-driven engineering leader focused on building inclusive, high-impact teams.
{% endblock %}

{% block content %}
<div class="site-wrapper">

    <div class="site-content">

        <div class="post post-content">
            <h1>👋🏽 I’m Adam Merry.</h1>

            <p>- - -</p>

            <p>[this is what I'm up to <a href="/now">right now</a>.]</p>

            <p>I'm currently an Engineering Manager at <a href="https://www.joinroot.com/">Root Insurance</a>
                heading up Policyholder Experience and Payments + Billing. I lead a full stack (backend, web, mobile) product
                engineering team building delightful experiences for Root policyholders and payments/billing capabilities that processed $1B+ in 2023.
            </p>

            <p>- - -</p>

            <p>EM stuff over @ <a href="https://blog.adammerry.com">blog.adammerry.com</a>.</p>

            <p>Connect on <a href="https://www.linkedin.com/in/amerry/">LinkedIn</a>.</p>

            <p>Latest rev of my <a href="/static/Adam Merry Resume.pdf">resume</a>.</p>

            <p>(if you'd like to get in touch, feel free to drop me a line: <a
                    href="mailto:adammerry@proton.me">adammerry@proton.me</a>.✌🏽)</p>
        </div>
    </div>
</div>
{% endblock %}