{% extends "base.html" %}

{% block title %}
Adam Merry
{% endblock %}

{% block og_title %}
Adam Merry: Tech Leader & Trailblazer
{% endblock %}

{% block og_description %}
Step into the world of Adam Merry, a passionate advocate for DEI, and an ally of the LGBTQ+ community. Passionate about
values-driven leadership, creating inclusive, high-impact teams and racing ultras.
{% endblock %}

{% block content %}
<div class="site-wrapper">

    <div class="site-content">

        <div class="post post-content">
            <h1>👋🏽 I’m Adam Merry.</h1>

            <p>- - -</p>

            <p>[What am I doing now? See <a href="/now">my “now” page</a>.]</p>

            <p>👨🏽‍💻 I’ve been a software engineer since 2014 and an EM since 2018. I'm currently an Engineering Manager at <a href="https://www.montereybayaquarium.com/">Root Insurance</a> 
                over Policyholder Experience and Payments.
            </p>

            <p>🏃🏽‍♂️ I am also a professional trail and ultra marathon runner. I love the sport, community,
                and showing myself I can do really hard things.</p>

            <p>I run for <a href="https://www.instagram.com/p/Ctod9ctOOWG/?img_index=1">Saucony</a>, am a board
                member of the <a href="https://trailrunners.run/about/">Pro Trail Runner's Association</a>, and have
                won a Golden Ticket and finished the Western States 100 miler.</p>

            <p>I've also started publishing some of my ideas about EMing and leadership in general on <a
                    href="https://blog.adammerry.com">blog.adammerry.com</a>. Here's a few articles worth
                checking out:</p>

            <ul class="tight-list">
                <li><a
                        href="https://medium.com/engineering-inclusivity/trust-is-the-backbone-of-a-strong-team-f9912cf97d7b">Trust
                        is the backbone of a strong team</a></li>
                <li><a href="https://medium.com/p/77ac89aa6c3f/">How to be a Values-Driven Leader</a></li>
            </ul>

            <p>Peep the full publication <a
                    href="https://medium.com/engineering-inclusivity">@medium.com/engineering-inclusivity</a>. 👀
            </p>

            <p>---</p>

            <p>Where can you go from here?</p>

            <ul class="tight-list">
                <li>Follow me on <a href="https://www.linkedin.com/in/amerry/">LinkedIn</a>, <a
                        href="https://github.com/amerry19/">GitHub</a>, or
                    <a href="https://www.instagram.com/amerryrunner/">Instagram</a>
                </li>
                <li>Watch a cool video <a href="https://www.youtube.com/watch?v=BmfMvGXmoLU">YouTube</a> of me
                    running made w/ ❤️ by <a href="https://freetrail.com/">Freetrail</a> </li>
            </ul>

            <p>---</p>

            <p>Thanks!</p>

            <p>-Adam Merry</p>

            <p>p.s if you want to work together drop me a line @ <a
                    href="mailto:adammerry@proton.me">adammerry@proton.me</a>. ✌🏽</p>
        </div>
    </div>
</div>
{% endblock %}