<!DOCTYPE html>
<html>

<head>
    <title>Now - Adam Merry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
</head>

<body>
    <div class="site-wrapper">

        <div class="site-header">
            <h2>
                <a href="/">⬅️ go back</a>
            </h2>
            <div class="site-seperator">---</div>
        </div>

        <div class="site-content">
            <article class="post format-page">
                <header class="post-header">
                    <h1 class="post-title"><a href="" rel="bookmark">Now</a></h1>
                </header>
                <div class="post-content">
                    <p>What am I up to “right now”?</p>

                    <p>Psst, this is <a href="https://nownownow.com/">a now page</a>. You should make it if you don’t have one.</p>

                    <h3>🌞 Living in Boulder, CO ⛰️</h3>
                    <p>Lots of yardwork this time of year, flowers and weeds are going off after all the rain!</p>

                    <h3>🌈 Raising my beautiful son, Arthur, with my lovely wife, Julianne 👨‍👩‍👦</h3>
                    <p>He's got 2 teeth!</p>
                    
                    <h3>👨🏽‍💻 Working at Dimagi as an Engineering Manager for our SaaS divison</h3>
                    <p>Focusing on infra cost-optimization, some product engineering and performance reviews for my directs.</p>

                    <h3>Diving into our deployment tooling for CommCareHQ</h3>
                    <p>Really digging into <a href="https://github.com/dimagi/commcare-cloud">this codebase</a> and running locally so I can better support/collab on DevOps w/ my team.</p>

                    <h3>⌨️ Writing articles on my approach to leadership in tech</h3>
                    <p>My gears got turning after reading a thought provoking, albeit throwback, <a href="https://www.hanselman.com/blog/do-they-deserve-the-gift-of-your-keystrokes">article by Scott Hanselman</a>.
                    I hope more people can find value out of my keystokes by putting my thoughts ideas out there! 😄</p>

                    <h3>🤖 Playing a lot with ChatGPT</h3>
                    <p>With the right prompts it's pretty freaking powerful!</p>

                    <h3>🏃🏽‍♂️ Deciding what's next up on my racing schedule</h3>
                    <p>Recovery post-states has been amazing. Mind and body needed it! Feeling like November will be a nice timeframe.</p>

                </div>
            </article>
        </div>
    </div>
</body>

</html>