{% extends "base.html" %}

{% block title %}
Now - Adam Merry
{% endblock %}

{% block og_title %}
What's up rn w/ - Adam Merry
{% endblock %}

{% block og_description %}
Discover what Adam Merry, a tech leader and trailblazer, is up to right now. From family life to pro moves, stay up to
date with the latest here.
{% endblock %}

{% block content %}
<div class="site-wrapper">

    <div class="site-header">
        <h2>
            <a href="/">⬅️ go back</a>
        </h2>
        <div class="site-seperator">---</div>
    </div>

    <div class="site-content">
        <article class="post format-page">
            <header class="post-header">
                <h1 class="post-title"><a href="" rel="bookmark">Now</a></h1>
            </header>
            <div class="post-content">
                <p>What am I up to “right now”?</p>

                <p>Psst, this is <a href="https://nownownow.com/">a now page</a>. You should make it if you don’t have
                    one.</p>

                <h3>🌞 Living in Superior, CO ⛰️</h3>
                <p>Boulder is kinda funny, feels like spring but we still may get a ton of snow come April!</p>

                <h3>🌈 Raising my beautiful son, Arthur, with my lovely wife, Julianne 👨‍👩‍👦</h3>
                <p>He's got 8 teeth!</p>

                <h3>👨🏽‍💻 Working at Root as an Engineering Manager for Policyholder Experience and Payments</h3>
                <p>Steep learning curve coming up to speed on the insurance industry but I think I've got most of the acronyms down and a solid mental model of the domain now. 😄 
                </p>

                <h3>👋🏽 Psst, my team is hiring!</h3>
                <p>We've got some exciting work ahead of us and if you're an engineer who has experience, self awareness and want to join a supportive team who will challenge you to do your best work,
                     check out our <a href="https://joinroot.wd1.myworkdayjobs.com/joinroot?jobFamilyGroup=3e2524ce729101baaa4008bf0239f810">open posiitons</a> and drop me a line on LinkedIn!</p>

                <h3>⌨️ Writing articles on my approach to leadership in tech</h3>
                <p>My gears got turning after reading a thought provoking, albeit throwback, <a
                        href="https://www.hanselman.com/blog/do-they-deserve-the-gift-of-your-keystrokes">article by
                        Scott Hanselman</a>.
                    I hope more people can find value out of my keystokes by putting my thoughts ideas out there! 😄</p>

                <h3>🏃🏽‍♂️ Boulder Boys Show</h3>
                <p>This has been a fun project with my buddies lately trying to bring a new perspective to the ultra trail running landscape<a href="https://open.spotify.com/show/7lt4vCGO7wnTpPLUdQ8lzr?si=e4a58c96398d468d">check us out on Spotify</a>.</p>

            </div>
        </article>
    </div>
</div>
{% endblock %}