{% extends "base.html" %}

{% block title %}
Now - Adam Merry
{% endblock %}

{% block og_title %}
What's up rn w/ - Adam Merry
{% endblock %}

{% block og_description %}
Discover what Adam Merry, a tech leader and trailblazer, is up to right now. From family life to pro moves, stay up to
date with the latest here.
{% endblock %}

{% block content %}
<div class="site-wrapper">

    <div class="site-header">
        <h2>
            <a href="/">⬅️ go back</a>
        </h2>
        <div class="site-seperator">---</div>
    </div>

    <div class="site-content">
        <article class="post format-page">
            <div class="post-content">

                <p>Psst, this is <a href="https://nownownow.com/">a now page</a>. You should make one if you don’t have one!</p>

                <p>---</p>

                <h3>🌞 Living in Superior, CO ⛰️</h3>
                <p>Pretty warm summer and not a lot of rain so far. No wildfires yet so thankful for the good fortune!</p>

                <h3>🌈 Raising my beautiful son, Arthur</h3>
                <p>He is runnnnning around now! 16 months old and he has so much energy. His favorite activites right now are eating croissants
                    and vacuuming. 😂
                </p>

                <h3>👨🏽‍💻 Working at Root as an EM for Policyholder Experience and Payments</h3>
                <p>Been on the eng recruiting core team this year and have 2x'd my team. Our health metrics are solid and team culture is
                    strong, really pleased with how the team is evolving! 
                    As we continue to scale the eng org, I'm working closely with my team to make sure we consistently invest in great docs.
                </p>

                <h3>👋🏽, my team is hiring</h3>
                <p>Yep, still hiring! Team is 11 strong now but we're splitting into 2 teams in Q3. Check out our <a href="https://joinroot.wd1.myworkdayjobs.com/joinroot?jobFamilyGroup=3e2524ce729101baaa4008bf0239f810">open posiitons</a> and drop me a line on LinkedIn!</p>
                <p>Our teams will generally look like 1/2/3 (staff/lead/SE).</p>
                
                <h3>🏃🏽‍♂️ Boulder Boys Show</h3>
                <p>I can't believe we're 19 episodes in already! Hear us ramble and joke around about trail running/racing and life <a href="https://open.spotify.com/show/7lt4vCGO7wnTpPLUdQ8lzr?si=e4a58c96398d468d">on Spotify</a>.</p>
            </div>
        </article>
    </div>
</div>
{% endblock %}